@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Chenla&family=Jura:wght@300&family=Mochiy+Pop+One&display=swap');

body{
    background-image: linear-gradient(to bottom, white, #1E1E1E);
}

.titulo-home{
    color: white;
    font-family: "Mochiy Pop P One", monospace;
    text-align: left;
}

.fa-angle-double-down {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
    width: 10px;
    font-size: 2.5vw;
    color: #aaa;
    z-index: 11;
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
    -webkit-animation: glow 4s infinite;
    animation: glow 4s infinite;
}

.scroll{
    background-image: url(../imagens/ScrollDownInicial.png.png);
    height: 100vh;
    position: relative;
    background-size: cover;
}

.scroll-conteudo {
    padding: 0px 100px 50px 100px;
    padding-top:190px;
    position: absolute;
    height: 50vh;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 10;
    margin-bottom: 150px;
}

.scroll-conteudo button{
    color:var(--cor-destaque-scrolldown);
    padding-top:10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 500ms linear;
    
}

.scroll-conteudo button:hover{
    transform: scale(1.1);
}

.scroll-conteudo h2{
    font-family: "Chenla",monospace;
    color: rgb(255, 255, 255);
    font-size: 80px;
}

.gradient-overlay {
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(#000000 20%, #020202);
    background: linear-gradient(#070202 20%, #0c0808);
    opacity: 0.6;
    filter: alpha(opacity=40);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}


.footer{
    text-align:center;
    justify-content: center;
    margin-top: auto;
    padding-top: 4px;
    width: 100%;
    padding: 1px;
    color: black;
}

.copyright{
    font-family: 'Jura',sans-serif;
    text-align:center;
    font-size:20px;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}

.cabecalho-menu{
    display: flex;
    gap: 10px;

}

.cabecalho-menu-item{
    font-family: "Cairo", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
    padding: 24px;
    font-weight: bold;
    text-decoration-line: none ;

}

.cabecalho-menu-item:hover{
    font-family: "Cairo", sans-serif;
    color: rgb(126, 110, 59);
    font-weight: 400;
    font-size: 18px;
    padding: 24px;
    font-weight: bold;
    
}

.titulo-inicial{
    font-family: "Mochiy Pop P One", cursive;

}

.conteudo-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}

.conteudoHome{
    font-family: 'Jura',sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.imagem-futuro{
    height: 500px;
}

.texto-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family:'Jura',sans-serif;
    color: black;
    text-align: left;
    font-size: 24px;
    margin-left: 50px;
}

.conteudo-tech{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}

.conteudoTech{
    font-family: 'Jura',sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.imagem-tech{
    height: 500px;
}

.texto-tech{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family:'Jura',sans-serif;
    color: black;
    text-align: left;
    font-size: 24px;
    margin-left: 50px;
}

.conteudo-imagem-integrantes{
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;  
}

.imagem-integrantes{
    height: 200px;
    padding: auto;
    padding: 14px;
}

.imagem-legenda{
    text-align: center;
    font-family: 'Jura',sans-serif;
    font-size: 18px;
    color: black;
}


