@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Chenla&family=Jura:wght@300&family=Mochiy+Pop+One&display=swap');

body{
    background-image: linear-gradient(to bottom, #bababa, #898989)
}

#titulo-home{
    color: white;
    font-family: "Mochiy Pop P One", monospace;
    text-align: left;
    font-size: 65px;
    font-weight: bold;
    margin-left: 10%;
}

#subtitulo-home{
    color: white;
    font-family: "Mochiy Pop P One", monospace;
    text-align: center;
    font-size: 35px;
    margin-top: 20%;
}

h1, h2, h3, h4{
    color: white;
}
.fa-angle-double-down {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
    width: 10px;
    font-size: 2.5vw;
    color: #aaa;
    z-index: 11;
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
    -webkit-animation: glow 4s infinite;
    animation: glow 4s infinite;
}

.scroll{
    background-image: url(../imagens/ScrollDownInicial.png.png);
    height: 100vh;
    position: relative;
    background-size: cover;
}

.scroll-conteudo {
    padding: 0px 100px 50px 100px;
    padding-top:190px;
    position: absolute;
    height: 50vh;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 10;
    margin-bottom: 150px;
}

.scroll-conteudo p{
    font-size: 3rem;
    color:#FFF;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

.scroll-conteudo p span.texto-escrito{
    color:#715528;
}

.scroll-conteudo p span.cursor{
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.scroll-conteudo p span.cursor .typing{
    animation: none;
}
@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }

.scroll-conteudo button{
    color:var(--cor-destaque-scrolldown);
    padding-top:10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 500ms linear;
    
}

.scroll-conteudo button:hover{
    transform: scale(1.1);
}

.scroll-conteudo h2{
    font-family: "Chenla",monospace;
    color: rgb(255, 255, 255);
    font-size: 70px;
}

.gradient-overlay {
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(#000000 20%, #020202);
    background: linear-gradient(#070202 20%, #0c0808);
    opacity: 0.6;
    filter: alpha(opacity=40);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}


.footer{
    text-align:center;
    justify-content: center;
    margin-top: 5%;
    padding-top: 4px;
    width: 100%;
    padding: 1px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
}

.copyright{
    font-family: 'Jura',sans-serif;
    text-align:center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 100px;
    color: white;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}

.cabecalho-menu{
    display: flex;
    gap: 10px;

}

.cabecalho-menu-item{
    font-family: "Cairo", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
    padding: 24px;
    font-weight: bold;
    text-decoration-line: none ;

}

.cabecalho-menu-item:hover{
    font-family: "Cairo", sans-serif;
    color: #715528;
    font-weight: 400;
    font-size: 18px;
    padding: 24px;
    font-weight: bold;
}

.logo-sfome{
    height: 60px;
    text-align: left;
}


.titulo-inicial{
    font-family: "Mochiy Pop P One", cursive;
    margin-top: 7%;
    font-size: 25px;
    font-weight: bold;

}

.conteudo-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}

.conteudoHome{
    font-family: 'Jura',sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.imagem-futuro{
    height: 500px;
    margin-left: 10%;
}

.texto-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family:'Jura',sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 30px;
    margin-left: 50px;
    margin-right: 10%;
    font-weight: bold;
}

.conteudo-tech{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}

.conteudoTech{
    font-family: 'Jura',sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.imagem-tech{
    height: 500px;
    margin-right: 10%;
    border-radius: 10%;
}

.texto-tech{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family:'Jura',sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 30px;
    margin-left: 10%;
    margin-right: 50px;
    font-weight: bold;
}

.conteudo-imagem-integrantes{
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;  
}

.imagem-integrantes{
    height: 200px;
    padding: auto;
    padding: 14px;
}

.imagem-legenda{
    text-align: center;
    font-family: 'Jura',sans-serif;
    font-size: 19px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 25%;
}

.conteudoSFOME{
    font-family: 'Jura',sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.texto-SFOME{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family:'Jura',sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 30px;
    margin-left: 50px;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.legenda-SFOME{
    font-family: "Cairo", sans-serif;
    text-decoration-line: none;
    font-size: 30px;
}

.texto-doacao{
    font-size: 30px;
}

.form-doacao{
    background-color: #BFA171;
    height: 600px;
    width: 600px;
    justify-content: center;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    color: #ffffff;
    margin-bottom: 50px;
    margin-left: 32%;
    font-weight: bold;
}

.form-input{
    border: none;
    outline: none;
    font-size: 15px;
}

.login-cadastro{
    border: none;
    outline: none;
    font-size: 15px;
}

.form-botao{
    background-color: #715528;
    border: none;
    padding: 15px;
    width: 100px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-bottom: 10%;
    font-weight: bold;
}

.form-botao:hover{
    background-color: #8f692c;
    cursor: pointer;
}

.form-titulo{
    font-family:'Jura',sans-serif;
}

.form-paragrafo{
    padding: 10px;
    font-family: 'Jura',sans-serif ;

}

.conteudo-solucoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}


.imagem1-solucoes{
    height: 500px;
    margin-left: 10%;
    border-radius: 10%;
}
.imagem2-solucoes{
    height: 500px;
    margin-right: 10%;
    border-radius: 10%;
}

.texto-solucoes1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family:'Jura',sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 30px;
    margin-left: 50px;
    font-weight: bold;
    margin-right: 10%;
}

.texto-solucoes2{
    justify-content: space-around;
    font-family:'Jura',sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
}
.texto-solucoes3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family:'Jura',sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 30px;
    margin-right: 50px;
    font-weight: bold;
    margin-left: 10%;
}


.frase-final{
    font-family: "Cairo", sans-serif;
    font-size: 24px;
    text-align: center; 
    vertical-align: top; 
    font-weight: bold;
    margin: 10%;
}

.legenda-home{
    font-family: "Cairo", sans-serif;
    text-decoration-line: none;
    font-size: 22px;
    margin-bottom: 5%;
}

.link-home{
    color: #7A4B00 ;
    font-family: "Cairo", sans-serif;
    text-decoration-line: none;
    font-weight: 100%;
}

.titulo-solucao{
    font-family: "Mochiy Pop P One", cursive ;
}

#imagemTechHome{
    transition: 500ms linear;
}

#imagemTechHome:hover{
    transform: scale(1.1);
}

#imagemSFOME{
    transition: 500ms linear;
}

#imagemSFOME:hover{
    transform: scale(1.1);
}

#slide{
    height: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
}



#mensagem{
    width:350px;
    height:100px;
}

.duvidas-frequentes h2{
    font-family: 'Jura', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.duvidas-frequentes p{
    font-family: 'Jura', sans-serif;
    color: rgb(255, 255, 255);
    text-align: justify;
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: bold;
}

.duvidas-frequentes{
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 24px;
    width: 50%;
    font-weight: bold;
}

.duvidas-frequentes input,
.duvidas-frequentes .resposta { 
	display:none;
	text-align: center;
}
.duvidas-frequentes label {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 5px;
	width: 100%;
    font-family: 'Jura', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    cursor:pointer;
    font-weight: bold;
}

.duvidas-frequentes input:checked ~ .resposta {
	display: block;

}

.form-duvida form{
    background-color: #BFA171;
    height: 600px;
    width: 600px;
    justify-content: center;
    border-radius: 15px;
    color: #ffffff;
    margin-bottom: 50px;
    font-weight: bold;
    margin-top: 5%;
}

.duvidaf-titulo{
    font-family:'Jura',sans-serif;
    padding: 30px;
    font-size: 40px;
    
}

.duvidaf-paragrafo{
    padding: 10px;
    font-family: 'Jura',sans-serif ;
    font-size: 26px;
}

.login{
    background-color: #BFA171;
    height: 550px;
    width: 500px;
    justify-content: center;
    top: 50%;
    left: 50%;
    padding: 24px;
    border-radius: 15px;
    color: #fff;
    margin-left: 32%;
    margin-top: 5%;
}

.login-input{
    padding: 15px;
    border: none;
    outline: none;
}

.login-botao{
    background-color: #715528;
    border: none;
    padding: 15px;
    width: 100px;
    border-radius: 10px;
    color: white;
    font-size: 20px;

}

.login-botao:hover{
    background-color: #8f692c;
    cursor: pointer;
}

.cadastrologin-botao{
    background-color: #715528;
    border: none;
    padding: 15px;
    width: 100px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.cadastrologin-botao:hover{
    background-color: #8f692c;
    cursor: pointer;
}

.login-titulo{
    font-family: 'Jura',sans-serif;
    text-align: center;
    color: white;
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: bold;
}

.login-paragrafo{
    font-family: 'Jura',sans-serif;
    color: white;
    font-size: 25px;
}

.login-paragrafo2{
    font-family: 'Jura',sans-serif;
    color: white;
    font-size: 20px;
}

.clique-login{
    color: #7A4B00 ;
}

.cadastro-login{
    color: #7A4B00 ;
}

.imagem-duvidasf{
    margin-bottom: 5%;
}

.cor{
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 10px 4px 0 0 rgb(255, 255, 255);
}

.footer-navbar{
    text-align: right;
    gap: 10px;
    list-style: none;
    margin-bottom: 3%;
}

.cabecalho-footer-item{
    font-family: "Cairo", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
    padding: 24px;
    font-weight: bold;
    text-decoration-line: none ;
    margin-right: 10%;
    text-align: left;
}

.cabecalho-footer-item:hover{
    font-family: "Cairo", sans-serif;
    color: #715528;
    font-weight: 400;
    font-size: 18px;
    padding: 24px;
    font-weight: bold;
    margin-right: 10%;
}

.logo-sfome-footer{
    height: 60px;
    margin-left: 10%;
}

#msgData{
    font-family: "Cairo", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
}